<form action="/auth/delete" method="POST">
  <label for="password">Enter your password:</label>
  <input id="password" type="password" name="oldpassword">
  <br><br>
  <label for="updated-password">Enter new password:</label>
  <input id="updated-password" type="password" name="updatedpassword">
  <br><br>
  <input type="submit" value="OK, this is ">
</form>