<h1 class="login-title">Login</h1>
<form class="loginForm" action="/auth/login" method="POST">
  <div class="email">
    <label for="auth-email"></label>
    <input placeholder="Email" class="login-email" id="auth-email" type="email" name="email">
  </div>
  <div class="password">
    <label for="auth-password"</label>
    <input placeholder="Password" class="login-pass" id="auth-password" type="password" name="password">
  </div>
  <input class="login-submit-btn" type="submit" value="Log In">
</form>
