<div>
  <%- include('../partials/login-btn.ejs') %>
</div>

<div class="signup-container">
  <h1 class="signup-title">SignUp</h1>
  <form class="signUp" action="/auth/signup" method="POST">
    <input placeholder="Email"  class="login-email" id="new-email" type="email" name="email">
    <input placeholder="Username" class="login-email" id="new-name" type="text" name="name">
    <input placeholder="Password" class="login-email" id="new-password" type="password" name="password">
    <div class="sign-up-submit">  
      <input class="login-submit-btn" type="submit" value="Submit">
    </div>
  </form>
</div>
