<header>
  <nav>
    <ul>
        <div class="noUser">
          <div class="signup-btn">
            <li><a class="landing-btn" href="/auth/signup">Signup</a></li>
          </div>
          <div class="logIn">
            <li><a class="landing-btn2" href="/auth/login">Login</a></li>
          </div>
        </div>
    </ul>
  </nav>
</header>
