<% if (!currentUser) { %>
  <li><a href="/auth/signup">Signup</a></li>
  <li><a href="/auth/login">Login</a></li>
<% } else { %>


  if (
    for (i=0; i < currentUser.dataValues.jokes.length; i++) {
      if (currentUser.dataValues.jokes[i].id === joke.id)
    }
  )




  let isFavorite
  
isFavorite = false
for (i=0; i < currentUser.dataValues.jokes.length; i++) {
  if (currentUser.dataValues.jokes[i].id === joke.id) {
    isFavorite = true;
    break;
}    

<h1><%= currentUser.dataValues.jokes[0].id %></h1>
<h1><%= joke.id %></h1>