<h2><%= comedian.name  %></h2>

<% comedian.dataValues.jokes.forEach(function(joke) { %>
  <div class="joke-container" >
    <p> "<%= joke.content  %>"  %>  </p>
    <p> Laughs: <%= joke.likes  %>  </p>
  </div>  
<%}) %> 

