<%- include('./partials/navbar.ejs') %>
<h2>User Favorites</h2>




<% user.dataValues.jokes.forEach(function(joke) { %>
    <p> <%= joke.content  %>  </p>
    <p> <%= joke.comedian.name  %>  </p>
    <p> <%= joke.likes  %>  </p>


<%}) %>
