<h2>User Favorites</h2>

<% user.dataValues.jokes.forEach(function(joke) { %>
  <div class="joke-container">
      <p> "<%= joke.content  %>" - <%= allComedians[joke.comedianId - 1].name  %>  </p>
      <p> Laughs: <%= joke.likes  %>  </p>
    </div>  
<%}) %> 

