<!-- <h2>Login/Signup Landing</h2> -->
  <body>
    <div class="landing-container">
          <div class="welcome-container">
              <p class="landing-p">welcome to,</p>
              <h1 class="landing-title">Giggle<span>Bytes</span></h1>
              <p class="landing-p2">Top jokes voted by you!</p>
          </div>
    </div>
    <%- include('./partials/landingnavbar.ejs') %>
  </body>
