<!-- <h2>Login/Signup Landing</h2> -->
  <body>
    <div class="landing-container">
          <div>
              <p class="landing-p">welcome to,</p>
              <h1 class="landing-title">Joke<span>Pop</span></h1>
              <p class="landing-p2">Top jokes voted by you!</p>
          </div>
    </div>
    <%- include('./partials/navbar.ejs') %>
  </body>
