<!-- <h2>Login/Signup Landing</h2> -->
<%- include('./partials/navbar.ejs') %>
  <body>
    <div class="landing-container">
          <div>
              <p class="landing-p">welcome to,</p>
              <h1 class="landing-title">Joke<span>Pop</span></h1>
              <p class="landing-p2">Top jokes voted by you!</p>
          </div>
          <!-- <div class="btn-container">
              <button class="landing-btn"><a href="/auth/signup">Create Account</a></button>
              <button class="landing-btn"><a href="/auth/login">Login</a></button>
          </div> -->
    </div>
  </body>
