  <%- include('./partials/header.ejs') %>
  <body>

  <%- include("partials/alerts") %>

  <%- body %>
  <!-- <footer>&copy; Copyright 2021 KPR</footer> -->
  <script src="/script/main.js"></script>
</body>
</html>
