<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
        
        
          <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a class="logo" href="#">JokePop</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Favs</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    <a href="#">Comedians</a>   
                    <a href="#">Genre</a>
                </div>
            </li> 
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <%- include("partials/alerts") %>
    <h1>Project #2...go!</h1>
    <%- body %>
    <footer>&copy; Copyright 2021 KPR</footer>
  </body>
</html>
