<%- include('./partials/navbar.ejs') %>

<h2>Account Settings</h2>

<h3>Modify My Password</h3>

<form action="/auth/changepw" method="POST">
  <label for="old-password">Enter current password:</label>
  <input id="old-password" type="password" name="oldpassword">
  <br><br>
  <label for="updated-password">Enter new password:</label>
  <input id="updated-password" type="password" name="updatedpassword">
  <br><br>
  <input type="submit" value="Update Password">
</form>


<h3>Delete My Account</h3>
<form method="GET" action="/auth/delete">
  <button id="btn-delete" class="btn btn-primary" type="submit">Only press this button if you've never been more certain of anything in your life.</button>
</form>


